{% stylesheets '@MarkMenuBundle/Resources/public/css/*' filter='cssrewrite' %}
<link rel="stylesheet" type="text/css" href="{{ asset_url }}"/>
{% endstylesheets %}

<nav class="navbar navbar-default">
	<div class="container-fluid">
		{# Mobile here #}
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mark-left-menu">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand">
				{% image "%kernel.root_dir%/../web/images/menu.png" %}
				    <img alt="{{ app.name }}" src="{{ asset_url }}"/>
				{% endimage %}
			</a>
		</div>

		{# Left Menu - Common Areea #}
		<div class="collapse navbar-collapse" id="mark-left-menu">
			<ul class="nav navbar-nav">
				{% for p in menu %}
					{% if p.parent == 0 %}
						<li class="dropdown">
							<a href="" data-link="{{ p.route }}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ p.name }}</a>
							<ul class="dropdown-menu" role="menu">
								{% for c in menu %}
									{% if c.parent == p.id %}
										<li><a href="{{ c.route }}">{{ c.name }}</a></li>
									{% endif %}
								{% endfor %}
							</ul>
						</li>
					{% endif %}
				{% endfor %}
			</ul>

			{# Right menu - Administraton areea #}
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ user_fname }} | {{ user_role }} <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						{% if 2 == user_roleid %}
							<li><a href="{{ path('menu_manage') }}">{{ 'Menu manager'|trans }}</a></li>
							<li class="divider"></li>
						{% endif %}
						<li><a href="" data-toggle="modal" data-target="#about">{{ 'About'|trans }}</a></li>
						<li class="divider"></li>
						<li><a href={{ path("logout") }}>{{ 'Logout'|trans }}</a></li>
					</ul>
				</li>
			</ul>
		</div>{# nav-colapse #}
	</div>{# container-fluid #}
</nav>

{# About Modal #}
<div class="modal fade" id="about" tabindex="-1" role="dialog" aria-labelledby="aboutModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="{{ 'Close'|trans }}"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="aboutModalLabel">{{ app.name }} - {{ app.description }}</h4>
			</div>
			<div class="modal-body">
				<p>App name: {{ app.name }}</p>
				<p>App version: {{ app.version }}</p>
				<p>Description: {{ app.description }}</p>

				<div class="clearfix"></div>

				<h4>Developer: </h4>
				<p>{{ app.developer.company }}</p>
				<p>{{ app.developer.address }}, {{ app.developer.email }}</p>
				<p>{{ app.developer.name }}, {{ app.developer.mobile }}</p>

				<div class="clearfix"></div>

				<h4>Client</h4>
				<p>{{ app.client.name }}, {{ app.client.address }}</p>
			</div>
		</div>
	</div>
</div>

{% block javascripts %}
	<script type="text/javascript">
	/*
	 * @require Vanilla JS
	 * Clear mainMenus (parents) if there are not childrens
	 */
	 var menuBlocks = document.querySelectorAll(".dropdown-menu");
	 var menuBlocksLength = menuBlocks.length;
	 var i = 0;
	 for(i; i < menuBlocksLength; i++) {
		var m = menuBlocks[i];
		if(0 == m.children.length) {
			m.parentElement.className="";
			m.className="";
			m = m.previousSibling.previousSibling;
			m.href = m.dataset.link;
			m.dataset.toggle="";
			m.setAttribute("role", "");
			m.setAttribute("aria-expanded", "");
			m.className="";
		}
	 }
	</script>
{% endblock %}