{% extends 'GeneralLoginBundle::general_header.html.twig' %}
{% block title %}{{ title }}{% endblock %}
	{% block body %}
		<div id="wrap">
			<div id="login">
				<form class="form-horizontal form-group-lg center-block" action="{{ path("_login_check") }}" method="post">
					<div class="form-group"><h2 class="text-center">Mark v2.0</h2></div>
					<div class="form-group">
						<input class="form-control" type="text" name="_username" id="username" value="{{ _username }}" placeholder="{{ 'Username'|trans }}" >
					</div>
					<div class="form-group">
						<input class="form-control" type="password" name="_password" id="password" placeholder="{{ 'Password'|trans }}">
						<input type="hidden" name="mark_token" value="{{ csrf_token('authenticate') }}">
					</div>

					<div class="form-group">
						<button class="btn btn-primary center-block form-control" type="submit">Login</button>
					</div>
				{% if _error %}
					<div class="alert bg-danger form-group text-center"> {{ _error.messageKey|trans }}</div>
				{% endif %}
				</form>

			</div>
		</div>
	{% endblock %}