{% extends 'MarkLoginBundle::menu.html.twig' %}
{% block title %}{{ title }}{% endblock %}

{# set delete modal properties #}
{% set modal_delete_id = "menuDeleteModal" %}
{% set modal_delete_route = "menu_delete" %}
{% use "MarkGeneralBundle:default:deleteModal.html.twig" with javascripts as js_delete_modal, modal as html_delete_modal %}

{# set sortable jQueryUI properties #}
{% set sortable_container = "tbody" %}
{% set sortable_key = "srt" %}
{% set sortable_route = "menu_rowsort" %}
{% use "MarkGeneralBundle:jQueryUIActions:sortableRows.js.twig" with javascripts as js_sortable_rows %}

{# set image modal properties #}
{% set image_modal_id = "modalImageId" %}
{% set image_modal_route = "menu_upload_image" %}
{% use "MarkGeneralBundle:default:fileModal.html.twig" with modal as html_image_modal %}

{# set add/edit properties #}
{% set edit_action_route = "menu_edit" %}
{% set add_action_route = "menu_add" %}
{% use "MarkGeneralBundle:default:addEditModal.html.twig" with javascripts as js_addedit_modal, modal as html_addedit_modal %}

{% block body %}
	<div class="container-fluid">
		<div class="row">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4>
						{{ 'Manage menu sections'|trans }} |
						<a href="" data-toggle="modal" data-target="#{{ image_modal_id }}">{{ 'Change menu image'|trans }}</a>
						<a href="#" class="addaction pull-right" data-toggle="modal" data-target="#addedit-modal">
							<i title="{{ 'Add'|trans }}" class="glyphicon glyphicon-plus"></i>{{ 'Add'|trans }}
						</a>
					</h4>
				</div>
			<div id="manage-menu" class="panel-body">
				<table class="table table-hover table-condensed">
					<thead>
						<tr>
							{% for col in menu_columns %}
								<th class="alert-info">
									<a href="{{ path('menu_colsort', {'param': 'm_sortcol', 'value': col}) }}">{{ col|upper }}</a>
								</th>
							{% endfor %}
							<th class="alert-info" colspan="2"></th>
						</tr>
					</thead>
					<tbody>
						{% for row in menu_rows %}
						<tr id="{{ sortable_key ~ "_" ~ row.id }}">
							{% for key,cel in row %}
								<td>
									{% if "roles" == key %}
										{% if cel == 0 %}
											USER
										{% elseif cel == 1 %}
											ADMIN
										{% elseif cel == 2 %}
											SUPER ADMIN
										{% endif %}
									{% elseif "sort" == key %}
											<i class="glyphicon glyphicon-move"></i>
									{% elseif "isActive" == key %}
											<input type="checkbox" {{ (1 == cel) ? 'checked' : 'unchecked' }} disabled />
									{% else %}
									    {{ cel }}
									{% endif %}
								</td>
							{% endfor %}
							<td>
									<a class="editaction" title="{{ 'Edit'|trans }}" data-toggle="modal" data-target="#addedit-modal" data-row-id={{ row.id }}><i class="glyphicon glyphicon-edit"></i></a>
								</td>
								<td>
									<a class="deleteaction" title="{{ 'Delete'|trans }}" data-toggle="modal" data-target="#{{ modal_delete_id }}" data-row-id={{ row.id }}>
										<i class="glyphicon glyphicon-remove"></i>
									</a>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

{{ block('html_delete_modal') }}
{{ block('html_image_modal') }}
{{ block('html_addedit_modal') }}
{% endblock %}

{% block javascripts %}
	<script type="text/javascript">
		{{ block('js_sortable_rows') }}
		{{ block('js_delete_modal') }}
		{{ block('js_addedit_modal') }}
	</script>
{% endblock %}