{% extends 'MarkLoginBundle::menu.html.twig' %}
{% block title %}{{ title }}{% endblock %}

{% use "MarkGeneralBundle:default:ajax-preloader.html.twig" with javascripts as js_ajax_preloader, ajax_preloader as html_ajax_preloader %}
{% use "MarkGeneralBundle:default:deleteModal.html.twig" with javascripts as js_delete_modal, modal as html_delete_modal %}
{% use "MarkGeneralBundle:jQueryUIActions:sortableRows.js.twig" with javascripts as js_sortable_rows %}
{% use "MarkGeneralBundle:default:fileModal.html.twig" with modal as html_image_modal %}
{% use "MarkGeneralBundle:default:addEditModal.html.twig" with javascripts as js_addedit_modal, modal as html_addedit_modal %}

{% block body %}
	<div class="container-fluid">
		<div class="row">

			{# Browse Panel Header #}
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4>
						{{ 'Manage menu sections'|trans }} |
						<a href="" data-toggle="modal" data-target="#{{ modal_image_id }}">{{ 'Change menu image'|trans }}</a>
						<a href="#" class="addaction pull-right" data-toggle="modal" data-target="#addedit-modal">
							<i title="{{ 'Add'|trans }}" class="glyphicon glyphicon-plus"></i>{{ 'Add'|trans }}
						</a>
					</h4>
				</div>

			{# Browse Table Header #}
			<div id="manage-menu" class="panel-body">
				<table class="table table-hover table-condensed">
					<thead>
						<tr>
							{% for col in menu_columns %}
								<th class="alert-info">
									{{ col|upper }}
									<a class="alert-link" href="{{ path('menu_colsort', {'param': 'm_sortcol', 'value': col}) }}">
										<i class="glyphicon glyphicon-sort-by-attributes"></i>
									</a>
								</th>
							{% endfor %}
							<th class="alert-info" colspan="2"></th>
						</tr>
					</thead>

			{# Browse Body #}
					<tbody>
						{% for row in menu_rows %}
						<tr id="{{ sortable_key ~ "_" ~ row.id }}">
							{% for key,cel in row %}
								<td>
									{% if "roles" == key %}
										{% if cel == 0 %}
											USER
										{% elseif cel == 1 %}
											ADMIN
										{% elseif cel == 2 %}
											SUPER ADMIN
										{% endif %}
									{% elseif "sort" == key %}
											<i class="glyphicon glyphicon-move"></i>
									{% elseif "isActive" == key %}
											<input type="checkbox" {{ (1 == cel) ? 'checked' : 'unchecked' }} disabled />
									{% else %}
									    {{ cel }}
									{% endif %}
								</td>
							{% endfor %}
							<td>
								<a class="editaction" title="{{ 'Edit'|trans }}" data-toggle="modal" data-target="#addedit-modal" data-row-id={{ row.id }}>
									<i class="glyphicon glyphicon-edit"></i>
								</a>
							</td>
							<td>
								<a class="deleteaction" title="{{ 'Delete'|trans }}" data-toggle="modal" data-target="#{{ modal_delete_id }}" data-row-id={{ row.id }}>
									<i class="glyphicon glyphicon-remove"></i>
								</a>
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

{# Extra blocks #}
{{ block('html_delete_modal') }}
{{ block('html_image_modal') }}
{{ block('html_addedit_modal') }}
{{ block('html_ajax_preloader') }}
{% endblock %}

{% block javascripts %}
	<script type="text/javascript">
		{{ block('js_ajax_preloader') }}
		{{ block('js_sortable_rows') }}
		{{ block('js_delete_modal') }}
		{{ block('js_addedit_modal') }}
	</script>
{% endblock %}