{% extends 'MarkLoginBundle::menu.html.twig' %}
{% block title %}{{ title }}{% endblock %}
	{% block body %}
		<div class="container-fluid">
			<div class="row">
				<div class="panel panel-default">
					<div class="panel-heading"><h4>{{ 'Manage menu sections'|trans }}<a href="" class="addaction pull-right" data-toggle="modal" data-target="#edit-menu"><i title="{{ 'Add'|trans }}" class="glyphicon glyphicon-plus"></i> {{ 'Add'|trans }}</a></h4></div>
					<div id="manage-menu" class="panel-body">
						<table class="table table-hover table-condensed">
							<thead>
								<tr>
									{% for col in menu_columns %}
										<th class="alert-info">{{ col|upper }}</th>
									{% endfor %}
									<th class="alert-info" colspan="2"></th>
								</tr>
							</thead>
							<tbody>
								{% for row in menu_rows %}
									<tr id="menu_{{ row.id }}">
										{% for key,cel in row %}
											<td>
												{% if "roles" == key %}
													{% if cel == 0 %}
														USER
														{% elseif cel == 1 %}
														ADMIN
														{% elseif cel == 2 %}
														SUPER ADMIN
													{% endif %}
													{% elseif "sort" == key %}
													<i class="glyphicon glyphicon-move"></i>
													{% else %}
													{{ cel }}
												{% endif %}
											</td>
										{% endfor %}
										<td><a title="{{ 'Add'|trans }}" class="editaction" data-toggle="modal" data-target="#edit-menu"><i class="glyphicon glyphicon-edit"></i></a></td>
										<td><a class="deleteaction" title="{{ 'Delete'|trans }}" href="{{ path('menu_delete', {'id': row.id}) }}"><i class="glyphicon glyphicon-remove"></i></a></td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>

		{% include "MarkMenuBundle:Default:menu_edit.html.twig" %}

	{% endblock %}

	{% block javascripts %}
		<script type="text/javascript">
			$(function() {
				$("tbody").sortable({
					update: function (event, ui) {
						// sortable elements must be in form name_number ex: row_1, row_2
						var data = $(this).sortable('serialize', { key: "menu" } );
						$.ajax({
							data: data,
							type: 'POST',
							url: '{{ path("menu_sort") }}'
						})
					}
				});
				$("tbody").disableSelection();
			});
		</script>
	{% endblock %}

