{% block modal %}
	<div class="modal fade" id="addedit-modal" tabindex="-1" role="dialog" aria-labelledby="modal-addedit-header" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="{{ 'Close'|trans }}"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="modal-addedit-header"></h4>
				</div>
				<div class="modal-body">
					<div id="addedit-form" class="form-horizontal">
					{{ form_widget(form) }}
					<div class="modal-footer">
						<div class="form-group">
							<button id="reset-btn" class="btn btn-danger pull-right col-sm-3" data-dismiss="modal" >{{ 'Cancel'|trans }}</button>
							<span class="pull-right">&nbsp;</span>
							<button id="save-btn" class="btn btn-primary pull-right col-sm-3" data-dismiss="modal">{{ 'Save'|trans }}</button>
						</div>
					</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
$("#addedit-modal").on('show.bs.modal', function(event){
	var _rt = $(event.relatedTarget);
	var _id = _rt.data("row-id");

	{# add form case #}
	if(_rt.hasClass('addaction')) {
		$("#modal-addedit-header")
           .text("{{ 'Add'|trans ~ ' ' ~ 'new menu'|trans }}");
		var _action = "add";
	}

	{# edit form case #}
	if(_rt.hasClass('editaction')) {
		$("#modal-addedit-header")
	       .text("{{ 'Edit'|trans ~ ' ' ~ 'menu'|trans }} - id:: " +  _id );
		var _action = "edit";
	}
});

{# save my form data #}
$("#save-btn").on('click', function(){

});

{# Clear my form #}
$('#addedit-modal').on('hidden.bs.modal', function (event) {
  $(this)
    .find("input,textarea,select")
       .val('')
       .end()
    .find("input[type=checkbox], input[type=radio]")
       .prop("checked", "")
       .end();
})
{% endblock %}