{% block modal %}
	<div class="modal fade" id="addedit-modal" tabindex="-1" role="dialog" aria-labelledby="modal-addedit-header" aria-hidden="true" data-backdrop="static">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="{{ 'Close'|trans }}">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="modal-addedit-header"></h4>
				</div>
				<div class="modal-body">
					{{ form_widget(form) }}
				</div>
				<div class="modal-footer">
					<button id="submit-data" class="btn btn-primary pull-right col-sm-3">
						{{ 'Save'|trans }}
					</button>
				</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
$("#addedit-modal").on('show.bs.modal', function(event){
	var _id = null;
	var _rt = $(event.relatedTarget);
	_id = _rt.data("row-id");

	{# add form case #}
	if(_rt.hasClass('addaction')) {
		$("#modal-addedit-header")
           .text("{{ modal_add_title|trans }}");
        $("#submit-data").parent().show();
	}

	{# edit form case #}
	if(_rt.hasClass('editaction')) {
		$("#modal-addedit-header")
	       .text("{{ modal_edit_title|trans }}");
 		$("#submit-data").parent().hide();

		var url = "{{ path(route_edit_fetch, {'id':'__SLUG'}) }}";
		url = url.replace(/(__SLUG)/, _id);

		$.ajax({
			    method: "POST",
			    url: url
			}).done(function(data){
				var fetched_data = JSON.parse(data);
				for(prop in fetched_data) {
					if("id" != prop){
						$("#form_"+prop).val(fetched_data[prop]);
					}
				}
			});
	}

	{# validate on change #}
	$("#form").find("select, textarea, input").bind("change", function() {
		$this = $(this);

		{# if input type is radio or checkbox serialize form manualy #}
		if("checkbox" == $this.prop('type') || "radio" == $this.prop('type')) {
			$form_el = this.name + "=" + (this.checked ? 1 : 0);
		} else {
			$form_el = $this.serialize();
		}

		{# on EDIT CASE manualy add record id #}
		if(null != _id) {
			$form_el += encodeURIComponent("&form[id]=" + _id);
		}

		$.ajax({
				method: "POST",
				url : "{{ path(route_edit_action) }}",
				data: $form_el
		}).done(function(validateResponse){
			if('' == validateResponse) {
				$this.removeClass('yield-parent');
				$this.next('p').remove();
			} else {
				$this.addClass('yield-parent');
				if( 0 == $this.next('p').length ) {
					$this.parent().append('<p class="yield"></p>');
				}
				$this.next('p').text(validateResponse);
			}
		});
	});
});

$("#submit-data").on('click', function(e){

		$form = $("#form");

		{# ================================ #}
		{# VALIDATE THE REQUIRED PROPRETIES #}
		{# ================================ #}
		var formElements = $form.find("select, textarea, input");
		var required = formElements.filter("[required]:visible");

		var _serializedForm = formElements.serialize();

		if(0 != required.lenght){
			{# check ONLY for NONempty required #}
			required.each(function(event){
				$this = $(this);
				if( "" == $this.val() ) {
					{# add new warning but check first it not exists #}
					if(!$this.hasClass('yield-parent')){
						$this.addClass('yield-parent');
						$this.parent()
						 	 .append('<p class="yield">{{ "This field is required!"|trans }}</p>');
					}
				}
			});
		}

		{# if yiels class exists, just DIE #}
		_errorExists = $(".yield", $form).length;
		if( 0 != _errorExists ) {
			return;
		} else {
			{# eliminate empty fields #}
			{# _serializedForm = _serializedForm.replace(/[^&]+=&/g, '').replace(/&[^&]+=$/g, '');	#}
			$.ajax({
				method: "POST",
				url : "{{ path(route_add_action) }}",
				data: _serializedForm
			}).done(function(){
				$("#addedit-modal").modal('hide');
			});
		}
	});

{# Reload page on exit #}
$('#addedit-modal').on('hidden.bs.modal', function () {
	location.reload();
})
{% endblock %}