{% block modal %}
	<div class="modal fade" id="addedit-modal" tabindex="-1" role="dialog" aria-labelledby="modal-addedit-header" aria-hidden="true" data-backdrop="static">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="{{ 'Close'|trans }}"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="modal-addedit-header"></h4>
				</div>
				<div class="modal-body">
					{{ form_widget(form) }}
				</div>
				<div class="modal-footer">
					<button id="submit-data" class="btn btn-primary pull-right col-sm-3">{{ 'Save'|trans }}</button>
				</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}

var _edit_id = null;

$("#addedit-modal").on('show.bs.modal', function(event){
	var _rt = $(event.relatedTarget);
	_edit_id = _rt.data("row-id");

	{# add form case #}
	if(_rt.hasClass('addaction')) {
		$("#modal-addedit-header")
           .text("{{ 'Add'|trans ~ ' ' ~ 'new menu'|trans }}");
	}

	{# edit form case #}
	if(_rt.hasClass('editaction')) {
		$("#modal-addedit-header")
	       .text("{{ 'Edit'|trans ~ ' ' ~ 'menu'|trans }} - id:: " +  _edit_id );

	     console.log(_rt.parent().prevAll().text());
	}
});

$("#submit-data").on('click', function(){

		//serialize the form/div
		$form = $("#form")
					.find("select, textarea, input")
					.serialize();

		// eliminate empty fields
		// $form = $form.replace(/[^&]+=&/g, '').replace(/&[^&]+=$/g, '');

		// check for Edit and add id to serialized form
		if(null != _edit_id) {
			$form += encodeURIComponent("&form[id]=" + _edit_id);
		}

		$.ajax({
			method: "POST",
			url : "{{ path(edit_action_route) }}",
			data: $form
		});

	// just for developing
	var error = 1;

	if(0 == error.length) {
		// save first
		$("#addedit-modal").modal('hide');
	} else {
		console.log(error);
	}
});


{# Clear my form #}
$('#addedit-modal').on('hidden.bs.modal', function (event) {
  $(this)
    .find("input,textarea,select")
       .val('')
       .end()
    .find("input[type=checkbox], input[type=radio]")
       .prop("checked", "")
       .end();
})
{% endblock %}